<font color="white">
<body style = "background-color:#242D43;text-align:center">
<font size = "2">
<p>The items and monsters found on this website are property of the Wizards of the Coast, this is a non-profit website for my players to keep track.</p>
    </font>
<font size = '5'>
<h1>Welcome to the Autumn Marsh</h1>
    </font>
<style>

        img {
        width: 80%:;
        height: 70%;
    }


</style>


<font size="7">

    <p><a href="peoples/" style="color:#FFFFFF">Notable Peoples</a></p>
    <p><a href="monsters/" style="color:#FFFFFF">Monsters</a></p>
    <p><a href="recaps/" style="color:#FFFFFF">Recaps</a></p>
    <p><a href="items/" style="color:#FFFFFF">Items</a></p>


</font>
</font>
<img src="https://i.imgur.com/l9oMfLD.jpg" >
</body>